{% extends "grid/base.html.twig" %}
{% set css = "blog" %}
{% set controller = "blog" %}

{% block maincontent %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ 'blog.title'|trans }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h2>{{ 'blog.latest'|trans }}</h2>
                <div class="blog__posts" data-blog-target="postsContainer">
                    {% if posts is not empty %}
                        {% for post in posts %}
                            {% include "pages/blog/_post.html.twig" %}
                        {% endfor %}
                    {% elseif posts is empty %}
                        {% include "pages/blog/_post.html.twig" %}
                        <div class="blog__no-posts-yet">
                            <p>No posts yet.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if app.user is not null %}
                    <button class="btn" data-action="click->blog#newPost">{{ 'blog.new-post'|trans }}</button>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {{ include('pages/blog/_form.html.twig') }}
            </div>
        </div>
    </div>

{% endblock %}
