{% extends "grid/base.html.twig" %}
{% set css = "blog" %}
{% set controller = "blog" %}

{% block maincontent %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ 'games.title'|trans }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h5>I love playing video games, and occasionally I will post video game related stuff here.</h5>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h2>{{ 'games.latest'|trans }}</h2>
            </div>
        </div>
    </div>

{% endblock %}
