{% extends "grid/base.html.twig" %}
{% set css = "maps" %}
{% set controller = "maps" %}

{% block maincontent %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ 'games.title'|trans }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h5>New map</h5>
                <div class="btn btn-primary d-inline-block" data-action="click->maps#show">New map</div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {{ include('pages/games/_new_map_form.html.twig') }}
            </div>
        </div>

    </div>

{% endblock %}
