// Node modules
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-utilities";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/badge";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~material-icons/iconfont/material-icons";

// Pages
@import "~@assets/scss/pages/forum";
@import "~@assets/scss/pages/home";
@import "~@assets/scss/pages/blog";
@import "~@assets/scss/pages/login";
@import "~@assets/scss/pages/register";
@import "~@assets/scss/pages/profile";

// Components
@import "~@assets/scss/components/header";
@import "~@assets/scss/components/footer";
@import "~@assets/scss/components/alert";
@import "~@assets/scss/components/buttons";
@import "~@assets/scss/shared";
@import "~@assets/scss/components/billboard";
@import "~@assets/scss/components/terminal";

// Fonts
//@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #000000;
  min-width: 300px;
  //font-family: faricy-new-web, sans-serif;
  //font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  z-index: -2;
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  color: #000000;

  &:hover {
    color: #000000;
  }
}

main {
  flex: 1;
}
