@use '~@assets/scss/variables' as var;
$border-color: #585858;

nav {
  z-index: 2;

  .main-navigation {
    background: var.$bg-color;
    width: 100%;
    padding: 0 0;
    color: var.$font-color-bg;
    box-shadow: 0 2px 2px #000000;
  }

  .row {
    align-items: center;
  }

  .top-logo {
    background: url('~@assets/svg/logo.svg') no-repeat;
    height: 40px;
    max-width: 160px;
    background-size: contain;
    transition: filter 0.3s ease-in-out;

    &:hover {
      filter: grayscale(100%);
      cursor: pointer;
    }
  }

  .top-bar {
    width: 100%;
    background: linear-gradient(0deg, var.$bjercke-orange, var.$bjercke-orange-darker);
    height: 35px;
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      color: var.$font-color-bg;

      &:hover {
        color: #000000;
      }
    }

    &__links {
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        display: inherit;
        justify-content: space-between;
        gap: 1px;
      }
    }
  }

  .navigation-wrapper {
    position: relative;

    .navigation {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      &__item {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 1.3em 1.5em;
        border-left: 1px solid $border-color;
        text-decoration: none;
        color: #cccccc;

        &:last-child {
          border-right: 1px solid $border-color;
        }

        &:hover {
          transition: .25s;
          cursor: pointer;
          color: #ffffff;
          background-color: var.$bjercke-orange;
        }

        &_active {
          background-color: var.$bjercke-orange;
          color: #ffffff;
        }
      }

      @media screen and (max-width: var.$breakpoint-md) {
        display: none;
      }
    }

    &__bars {
      display: none;

      i {
        font-size: 3.1em;
      }

      &:hover {
        cursor: pointer;
      }

      @media screen and (max-width: var.$breakpoint-md) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .collapsed-navigation {
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    visibility: hidden;
    top: 0;
    opacity: 0;
    width: 100%;
    z-index: 999;
    transition: all .25s;

    &_open {
      visibility: visible;
      opacity: 1;
    }

    &__content {
      position: relative;
    }

    &__menu-items {
      display: flex;
      flex-direction: column;
    }

    &__item {
      display: flex;
      align-items: center;
      gap: 5px;
      text-decoration: none;
      border-bottom: 1px solid #ffffff;
      padding: 1em;
      color: #ffffff;
      font-size: 1.1em;

      &_active {
        color: var.$bjercke-orange;
      }

      &:hover {
        color: var.$bjercke-orange;
      }
    }

    &__close {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 1.5em;
      cursor: pointer;
      color: #ffffff;

      &:hover {
        color: var.$bjercke-orange;
      }
    }

    @media screen and (min-width: var.$breakpoint-md) {
      display: none;
    }
  }
}
