{% extends "grid/base.html.twig" %}
{% set css = "home" %}
{% set controller = "home" %}

{% block title %}Home{% endblock %}

{% block maincontent %}

    <div class="container-fluid p-0">
        <div class="row">
            <div class="col">
                <div class="billboard">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="billboard__content">
                                    <div>
                                        <div class="billboard__profile-image" style="background-image: url('{{ asset('uploads/images/' ~ profile_image) }}')"></div>
                                    </div>
                                    {{ terminal.renderComponent|raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success float-end">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container home__development">
        <div class="row">
            <div class="col">
                <h2>{{ 'in development'|trans }}</h2>
                {% include 'components/_smartphone.html.twig' %}
            </div>
        </div>
    </div>

{% endblock %}
