{% extends "grid/base.html.twig" %}
{% set css = "home" %}
{% set controller = "home" %}

{% block title %}Home{% endblock %}

{% block maincontent %}

    <div class="container-fluid p-0">
        <div class="row">
            <div class="col">
                <div class="billboard">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="billboard__content">
                                    <div class="billboard__profile-image"></div>
                                    {{ terminal.renderComponent|raw }}
{#                                    <div>#}
{#                                        <h1>Marius Toresen Bjercke</h1>#}
{#                                        <p>IT-student og utvikler i praksis.</p>#}
{#                                    </div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success float-end">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
