@use '@assets/scss/mixins/buttons' as btn;
@use '@assets/scss/variables' as var;

@mixin form-style {
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  &__input {
    display: flex;
    flex-direction: column;
  }

  &__error-message {
    font-size: 0.75em;
    margin-top: 5px;
  }

  &__input-error {
    border-color: var.$error-color;
    border-width: 3px;
  }

  &__submit {
    @include btn.std-button;

    &:hover {
      transform: scale(1.05);
      transition: .25s;
    }
  }
}
