<div class="terminal" data-controller="terminal">
    <div class="terminal__header">
        <div class="terminal__title">
            <h1>Shell</h1>
        </div>
        <div class="terminal__open-modal">
            <span class="material-icons" title="Open modal">open_in_new</span>
        </div>
    </div>
    <div class="terminal__body">
        <div class="terminal__log">
{#            <div class="terminal__log_line">Last login: {{ component.date }} on {{ component.browser }}</div>#}
            <div class="terminal__log_history"></div>
        </div>
        <div class="terminal__input">
            <div class="terminal__text"><div class="terminal__username">guest@bjercke ~</div></div>
        </div>
    </div>
</div>
