<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="footer__contact">
                    <div class="footer__contact-info">
                        <h3>{{ 'footer.contact.title'|trans }}</h3>
                        <div><span class="material-icons">phone</span> +47 41 35 38 26</div>
                        <div><span class="material-icons">mail</span> kontakt@bjerckemedia.no</div>
                    </div>
                    <div class="footer__icons">
                        <div><a href="https://www.facebook.com/marius.t.bjercke/"><img src="{{ asset('build/images/icons/icons8-facebook.svg') }}" alt="Facebook" title="Facebook"></a></div>
                        <div><a href="https://www.linkedin.com/in/marius-toresen-bjercke-49688a62/"><img src="{{ asset('build/images/icons/icons8-linkedin.svg') }}" alt="LinkedIn" title="LinkedIn"></a></div>
                    </div>
                </div>
            </div>
            <div class="col footer__copyright">
                <p>Marius T. Bjercke © {{ year }}</p>
            </div>
        </div>
    </div>
</footer>
